body {
    width: 1280px;
    margin: 30px auto;
    font-family: 'Myriad Pro';
}

body a {
    text-decoration: none;
}

.logo {
    font-size: 80px;
}

.first-part-logo {
    color: #000000;
}

.second-part-logo {
    color: #4bcaff;
}

.change {
    float: right;
}

.change-link {
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #35444f;
    border-radius: 3px;
    background-color: #4bcaff;
    color: #fff;
    padding: 3px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu-top {
    background-color: #35444f;
    margin-top: 45px;
    text-align: center;
    margin-bottom: 51px;
}

.menu-top-item {
    display: inline-block;
    height: 69px;
}

.menu-top-item a {
    color: #ffffff;
    font-size: 24px;
    padding-left: 41px;
    padding-right: 41px;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
    line-height: 70px;
}

.menu-top-item:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.menu-left {
    display: inline-block;
    vertical-align: top;
    width: 344px;
    margin-right: 45px;
    border: 1px solid black;
}

.menu-left-link {
    display: inline-block;
    font-family: 'Myriad Pro';
    color: #485863;
    font-size: 26.99px;
    padding-left: 44px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-left-link:hover {
    color: #000000;
    padding-left: 69px;
    background-color: #dbdbdb;
    width: 274px;
    /* border-left: 1px solid black;*/
}

.main-content {
    display: inline-block;
    width: 885px;
}

.main-content-picture {
    border: 1px solid black;
    width: 885px;
    height: 529px;
}

.main-content-picture img {
    width: 320px;
    height: 381px;
    display: block;
    margin: 74px auto;
}

.main-content-picture img:hover {
    transform: scale(1.2);
    transition-duration: 0.9s;
}

.main-content-text {
    margin: 50px 40px 0;
}

.main-content-paragraph {
    margin-top: 30px;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

.footer {
    margin-top: 51px;
    background-color: #b4b7ba;
}

.menu-bottom {
    display: inline-block;
    padding-left: 44px;
}

.menu-bottom-item {
    display: inline-block;
    margin: 17px 0;
}

.menu-bottom-link {
    padding-bottom: 3px;
    border-bottom: 1px solid #b4b7ba;
    color: #0c1927;
    margin-right: 10px;
    font-size: 28px;
}

.menu-bottom-link:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.copy {
    display: inline-block;
    margin-left: 200px;
}

.copy-text {
    color: #010000;
    font-size: 24px;
}
